* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden; }

.container {
  max-width: 980px;
  margin: 0 auto; }

@media screen and (max-width: 1032px) {
  .container {
    margin: 0 20px; } }

.header {
  margin: 10px 0; }

.language {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 10px; }
  .language button {
    border: 0;
    outline: none;
    background-color: #fff;
    padding: 7px;
    -webkit-border-radius: 10%;
            border-radius: 10%;
    cursor: pointer;
    font-size: 12px; }

.active {
  background-color: #5f5f5f !important;
  color: #fff; }

.wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8d7d9), color-stop(#e2e1e2), color-stop(#ebebec), color-stop(#f5f5f5), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #d8d7d9, #e2e1e2, #ebebec, #f5f5f5, #ffffff);
  background-image: -o-linear-gradient(top, #d8d7d9, #e2e1e2, #ebebec, #f5f5f5, #ffffff);
  background-image: linear-gradient(to bottom, #d8d7d9, #e2e1e2, #ebebec, #f5f5f5, #ffffff); }

.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }

.wrapperLogo {
  display: block;
  min-height: 102px;
  min-width: 299px; }

.Logos {
  position: absolute;
  top: -32px;
  background-color: #D8D7D9;
  -webkit-border-radius: 45%;
          border-radius: 45%; }

.Logos__logo {
  min-height: 72px;
  min-width: 275px;
  background-color: #969696;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #fff;
  margin: 15px; }
  .Logos__logo a {
    color: #fff; }
  .Logos__logo h2 {
    font-size: 36px;
    font-weight: bold; }

.headerButtons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 15px; }

.buttonItem {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 30%;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%; }

.buttonItem__textLorem {
  padding-left: 7px; }
  .buttonItem__textLorem span {
    text-transform: uppercase;
    font-size: 12px;
    color: #333333;
    font-weight: 600; }
    .buttonItem__textLorem span:hover {
      color: #306B82; }

.burgerMenu {
  display: none; }

.active {
  display: block; }

.burgerMenu__nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.navigation__butMenu {
  display: none; }
  .navigation__butMenu button {
    background-color: #616161;
    text-transform: uppercase;
    color: #fff;
    padding: 15px 18.5px;
    text-align: left;
    outline: none;
    cursor: pointer;
    margin-bottom: 3px;
    min-width: 100%;
    border-left-color: #4E4852;
    font-size: 16px; }
    .navigation__butMenu button i {
      padding-right: 20px; }

.navigation {
  width: 100%; }
  .navigation .navItems {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 100%;
    margin-bottom: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .navigation .navItems li:hover {
      opacity: 0.5; }
    .navigation .navItems button {
      font-size: 16px;
      background-color: #616161;
      text-transform: uppercase;
      color: #fff;
      padding: 15px 18.5px;
      text-align: center;
      outline: none;
      cursor: pointer;
      margin-bottom: 3px;
      min-width: 100%;
      border-left-color: #4E4852; }

.main {
  background-color: #CCCCCC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px; }

.formItems {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px; }

.formItems__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .formItems__item input {
    max-width: 128px; }

.form {
  padding: 10px 20px 0 20px; }

.formBox h4 {
  text-transform: uppercase;
  font-size: 24px;
  padding-bottom: 10px; }

.formBox span {
  display: block;
  text-transform: uppercase;
  padding-bottom: 9px;
  font-size: 14px; }

.formBox input {
  border: 2px solid #6F6F6F;
  min-height: 32px;
  margin-bottom: 9px; }

.generalButton {
  background-color: #006C86;
  color: #fff;
  outline: none;
  text-transform: uppercase;
  font-size: 14px;
  padding: 8px 60px;
  cursor: pointer;
  border: 0;
  -webkit-border-radius: 6%;
          border-radius: 6%;
  margin-bottom: 35px;
  font-weight: bold; }

.firstLabel input {
  min-width: 278px; }

.infoBox {
  background-color: #fff;
  padding: 18px;
  margin: 0 30px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 3%;
          border-radius: 3%; }
  .infoBox p {
    font-size: 14px;
    font-family: 'Arial';
    font-style: normal; }
  .infoBox span {
    font-weight: bold;
    font-size: 14px; }
  .infoBox a {
    display: inline-block;
    margin-bottom: 0; }

.infoBox__textItem {
  padding-bottom: 19px; }
  .infoBox__textItem span {
    font-family: 'Arial';
    font-weight: bold; }

.infoBox__button {
  text-align: center; }

@media screen and (max-width: 1032px) {
  .navigation nav {
    display: none; }
  .navigation__butMenu {
    display: block; } }

@media screen and (max-width: 720px) {
  .main {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    background-color: #fff; }
    .main .infoBox {
      margin: 0; }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .Logos {
    position: static; }
  .Logos__logo {
    -webkit-border-radius: 0;
            border-radius: 0; } }

@media screen and (max-width: 585px) {
  .buttonItem {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; } }

.section__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.mainContent__firstItem {
  display: inline-block;
  max-width: 300px;
  min-height: 170px;
  width: 100%;
  background-color: #969696;
  margin-bottom: 18px; }

.mainContent__secondItem {
  padding: 0 17px;
  max-width: 300px; }
  .mainContent__secondItem h2 {
    text-transform: uppercase;
    padding-bottom: 12px;
    font-size: 18px;
    font-weight: bold; }
  .mainContent__secondItem span {
    font-size: 13px;
    display: block;
    margin-bottom: 45px;
    font-family: 'Arial';
    font-weight: normal; }

.sectionBlocks {
  width: 100%;
  padding-bottom: 20px; }

.sectionBlocks__button {
  display: none;
  margin-bottom: 20px; }
  .sectionBlocks__button a {
    font-style: 'Arial';
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: underline;
    color: #006C86; }

.rowBlocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px; }

.rowBlocks__item {
  display: block;
  max-width: 140px;
  min-height: 100px;
  width: 100%;
  background-color: #6F6F6F; }

@media screen and (max-width: 976px) {
  .mainContent {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; } }

@media screen and (max-width: 917px) {
  .rowBlocks:last-child {
    display: none; }
  .rowBlocks .adaptive {
    display: none; }
  .sectionBlocks__button {
    display: block; }
  .rowBlocks__item {
    margin: 20px; }
  .sectionBlocks {
    padding-bottom: 0; }
  .rowBlocks {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .section__content {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 779px) {
  .rowBlocks__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; } }

.footer {
  background-color: #727272;
  -webkit-border-radius: 1%;
          border-radius: 1%;
  margin-bottom: 20px; }

.footerInputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .footerInputs:first-of-type {
    padding-top: 38px; }

.bgGreey input {
  background-color: #CCCCCC; }

.footerInputs__area {
  padding-bottom: 17px; }
  .footerInputs__area input {
    height: 40px;
    min-width: 278px;
    outline: none;
    border: 0; }

@media screen and (max-width: 950px) {
  .footerInputs__area {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; }
    .footerInputs__area input {
      width: 100%;
      min-width: 0; }
  .footerInputs:last-of-type {
    padding-bottom: 21px; } }
