* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  color: #424242; }

.container {
  margin: 0 20%; }
