.active {
  color: #2355da !important; }

.active-button {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.wrap {
  border-bottom: 1px solid #dcdcdc; }
  @media only screen and (max-width: 767px) {
    .wrap {
      border-bottom: unset; } }

.title-cont {
  line-height: 1.2; }

.s-stand-bl {
  color: #2355da;
  font-weight: 700; }

.m-mons {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  color: #000;
  line-height: 1.6em; }
  @media only screen and (max-width: 767px) {
    .m-mons {
      font-size: 26px; } }

.st-mons-font {
  font-family: 'Montserrat';
  font-size: 14px;
  color: #7a7a7a; }

.b-mons {
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal; }

.n-mons {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  line-height: 1.4em; }

.s-n-mons {
  font-family: 'Montserrat';
  font-size: 13px;
  color: #000;
  line-height: 1.85714285714286; }

.m-n-mons {
  font-family: 'Montserrat';
  font-size: 16px; }

.r-b-archi {
  font-family: 'Archivo';
  font-weight: 900;
  font-style: normal;
  font-size: 3em; }
  @media only screen and (max-width: 767px) {
    .r-b-archi {
      font-size: 2.2em; } }

.b-pop {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
  font-size: 3em;
  color: #000;
  line-height: 1; }
  @media only screen and (max-width: 767px) {
    .b-pop {
      font-size: 30px; } }

.m-bold-pop {
  font-family: 'Poppins';
  font-weight: bold;
  font-style: normal;
  font-size: 21px;
  color: #000; }

.m-pop {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  color: #000;
  font-size: 22px;
  line-height: 28px; }

.m-var-font {
  line-height: 1.4;
  font-size: 30px;
  color: #3a3a3a; }
  @media only screen and (max-width: 767px) {
    .m-var-font {
      font-size: 20px; } }

.b-var-font {
  font-weight: 700;
  color: #000;
  font-size: 21px;
  line-height: 1.4; }

.def-var-font {
  color: #7a7a7a;
  font-weight: 500; }

.b-pop-font {
  font-family: "Poppins",Sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #000;
  font-size: 42px; }
  @media only screen and (max-width: 767px) {
    .b-pop-font {
      font-size: 2.2em; } }

.m-pop-font {
  font-family: "Poppins",Sans-serif;
  font-weight: bold;
  line-height: 1;
  color: #000;
  font-size: 30px; }

.s-var-font {
  font-size: 13px;
  color: #777; }

.s-var-bold {
  font-size: 14px;
  font-weight: 700;
  color: #000; }

.b-var-bold {
  font-weight: 900;
  color: #000;
  font-size: 1.4285714285714rem; }

.st-var-font {
  line-height: 1.85714285714286;
  color: #7a7a7a; }

.s-white {
  font-size: 15px;
  color: #fff;
  line-height: 2.3em; }

.s-grey {
  font-size: 15px;
  color: #686868; }

.s-var-font {
  font-size: 12px;
  color: #000; }

.m-var-stand {
  font-size: 20px;
  font-weight: 400; }

.m-slide-ita {
  font-size: 16px;
  font-style: italic;
  color: gray;
  line-height: 30px; }

.slick-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slick-dots button {
    outline: none;
    background: transparent;
    border: none;
    font-size: 0;
    width: 6px;
    height: 6px;
    background-color: #4064d7;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 6px;
    opacity: .2;
    cursor: pinter; }
  .slick-dots .slick-active button {
    background-color: #4064d7;
    opacity: 1; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle; }

a, button {
  text-decoration: none;
  font-family: 'Varela Round', sans-serif; }

li {
  list-style: none; }

body {
  background-color: #fff;
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.85714285714286;
  overflow-x: hidden; }

.container {
  max-width: 1300px;
  margin: 0 auto; }

.header {
  position: relative; }
  .header__contact-ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__contact-li {
    padding: 8px; }
    .header__contact-li a {
      color: #000; }
  .header__contact-icon {
    width: 12px; }
  .header__main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1em 0; }
    @media only screen and (max-width: 991px) {
      .header__main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 1em 0;
        -webkit-box-align: end;
        -webkit-align-items: end;
            -ms-flex-align: end;
                align-items: end; } }
  .header__main-ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 991px) {
      .header__main-ul {
        display: none;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  @media only screen and (max-width: 991px) {
    .header__two-buttons {
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }
  @media only screen and (max-width: 767px) {
    .header__two-buttons {
      width: 100%;
      text-align: center; } }
  .header__main-li a {
    color: #3a3a3a;
    font-weight: 700;
    padding: 1em;
    display: inline-block;
    height: 100%; }
    .header__main-li a:hover {
      color: #2355da; }
  .header__main-li .fas {
    font-size: .6rem;
    margin-left: 5px;
    color: #9E9E9E; }
  @media only screen and (max-width: 991px) {
    .header__button-wrap {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: end;
          -ms-flex-align: end;
              align-items: end;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0 20px; } }
  .header__button {
    width: 39px;
    height: 39px;
    background: #0aa5aa;
    outline: none;
    border: none;
    display: none;
    cursor: pointer;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 991px) {
      .header__button {
        display: block; } }
  .header__but-container {
    margin-top: 30px; }
  .header__but-line {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    z-index: 2; }
  .header__but-top-line {
    -webkit-transform: translate(-50%, -200%);
        -ms-transform: translate(-50%, -200%);
            transform: translate(-50%, -200%); }
  .header__but-mid-line {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  .header__but-bot-line {
    -webkit-transform: translate(-50%, 200%);
        -ms-transform: translate(-50%, 200%);
            transform: translate(-50%, 200%); }
  .header__main-link {
    padding: 0 20px !important; }
  .header__main-freelink {
    -webkit-border-radius: 50px;
            border-radius: 50px;
    font-size: 13px;
    color: #2355DA !important;
    border: 2px solid #2355DA;
    line-height: 3.2em; }
    .header__main-freelink:hover {
      background-color: #2355DA;
      color: #fff !important; }
  .header__main-call {
    -webkit-border-radius: 50px;
            border-radius: 50px;
    font-size: 13px;
    color: #4de55c !important;
    border: 2px solid #4de55c;
    line-height: 3.2em; }
    .header__main-call:hover {
      background-color: #4de55c;
      color: #fff !important; }

.love {
  margin-bottom: 50px; }
  .love__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
    padding: 0 20px; }
    @media only screen and (max-width: 767px) {
      .love__top {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse; } }
  .love__phone-pic {
    padding: 45px; }
    @media only screen and (max-width: 490px) {
      .love__phone-pic {
        padding: 25px; } }
    .love__phone-pic img {
      max-width: 540px;
      max-height: 551px; }
      @media only screen and (max-width: 894px) {
        .love__phone-pic img {
          max-width: 339px; } }
      @media only screen and (max-width: 490px) {
        .love__phone-pic img {
          max-width: 230px; } }
  .love__bot {
    text-align: center; }
  .love__text {
    margin-bottom: 50px; }
  .love__about-but {
    color: #fff;
    background-color: #3425f4;
    padding: 15px 50px;
    -webkit-border-radius: 50px;
            border-radius: 50px; }
  @media only screen and (max-width: 768px) {
    .love__parag {
      text-align: center; } }

.how {
  background-image: url("https://www.sparkleappz.com/wp-content/uploads/2019/12/blue_img-2.png");
  color: #fff;
  text-align: center;
  padding: 10px;
  padding-top: 84px;
  margin-bottom: 75px; }
  .how__title {
    padding-bottom: 21px; }
  .how__text {
    padding: 0 50px;
    margin-bottom: 74px; }
  .how a {
    color: #fff; }

.services {
  margin-bottom: 175px; }
  @media only screen and (max-width: 767px) {
    .services {
      padding: 0 10px; } }
  .services__top-boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .services__top-boxes {
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .services__title {
    text-align: center;
    padding-bottom: 23px; }
  .services__item {
    max-width: 350px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #545454;
    font-size: 1em;
    font-weight: 400;
    line-height: 2em;
    padding: 10px;
    margin: 10px; }
    @media only screen and (max-width: 767px) {
      .services__item {
        min-width: 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: unset;
        margin: unset; } }
  .services__picture {
    margin-right: 17px; }
    @media only screen and (max-width: 767px) {
      .services__picture {
        margin-right: unset; } }
    .services__picture img {
      min-width: 45px;
      min-height: 45px; }
  .services__item-title {
    margin-bottom: 20px; }

.first-slider {
  margin-bottom: 150px; }
  .first-slider__title {
    text-align: center;
    margin-bottom: 25px; }
  .first-slider__slider-wrap {
    position: relative;
    z-index: 1; }
  .first-slider__prev-arrow {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-left: 10px; }
  .first-slider__next-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    margin-right: 10px; }
  .first-slider__slider-item {
    outline: none; }
  @media only screen and (max-width: 767px) {
    .first-slider .slick-slide {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; } }
  .first-slider__fas {
    color: #8c8c8c;
    font-size: 25px; }

.portfo {
  padding-bottom: 100px; }
  @media only screen and (max-width: 767px) {
    .portfo {
      padding-left: 20px;
      padding-right: 20px; } }
  .portfo__title {
    text-align: center;
    margin-bottom: 35px; }
  .portfo__photos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 65px; }
  .portfo__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .portfo__item {
    max-width: 646px;
    max-height: 368px;
    margin: 2px;
    position: relative;
    z-index: 3;
    overflow: hidden; }
    .portfo__item:hover .portfo__item-table {
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      -webkit-transition: all .2s linear;
      -o-transition: all .2s linear;
      transition: all .2s linear; }
  .portfo__item-table {
    background: rgba(255, 255, 255, 0.8);
    color: #333;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    text-indent: 10px;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    position: absolute;
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
    z-index: 2; }
  .portfo__button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .portfo__button a {
      background-color: #2185f5;
      border: 1px solid #2185f5;
      color: #fff;
      -webkit-border-radius: 50px;
              border-radius: 50px;
      padding: 10px 40px;
      display: inline-block;
      line-height: 1; }
      .portfo__button a:hover {
        background-color: #fff;
        border: solid 1px red;
        color: red;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      @media only screen and (max-width: 767px) {
        .portfo__button a {
          text-align: center; } }

.second-slider {
  margin-bottom: 75px; }
  .second-slider .slick-slide {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    outline: none; }
  .second-slider .slick-dots button {
    background-color: #000;
    opacity: .2; }
  .second-slider .slick-dots .slick-active button {
    background-color: #000;
    opacity: 1; }
  .second-slider__wrap {
    background-color: #2185f5;
    padding: 40px 0; }

.follow {
  margin-bottom: 150px; }
  .follow__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .follow__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .follow__title {
    text-align: center; }
  .follow__item {
    max-width: 320px;
    padding: 10px; }
    @media only screen and (max-width: 767px) {
      .follow__item {
        max-width: 100% !important; } }
  .follow__wrap {
    padding: 20px;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center; }
    .follow__wrap:hover {
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
              box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5); }
  .follow__wrap-border {
    -webkit-box-shadow: 0px 0px 8px -4px #000;
            box-shadow: 0px 0px 8px -4px #000; }
  .follow__image {
    margin-bottom: 15px; }
  .follow__s-title {
    margin-bottom: 21px; }
  .follow__image-ico {
    width: 68px;
    height: 68px; }
  .follow__second-row {
    padding: 0 60px; }
    .follow__second-row .follow__item {
      max-width: 366px; }

.rank__title {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px; }

.rank__box-items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 75px; }
  @media only screen and (max-width: 767px) {
    .rank__box-items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center; } }

.third-slider {
  margin-bottom: 75px; }
  .third-slider__wrapper {
    background-color: #2355da;
    padding: 50px 0; }
  .third-slider__title-box {
    text-align: center; }
  .third-slider__title {
    color: #fff;
    margin-bottom: 20px; }
  .third-slider__slider-item {
    background-color: #fff;
    padding: 30px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    outline: none;
    margin: 0 20px; }
  .third-slider__text {
    margin: 10px 0 20px;
    text-align: center; }
  .third-slider__line {
    height: 2px;
    width: 30px;
    background-color: #d3d3d3;
    margin: 10px auto; }
  .third-slider__slider-text {
    margin-bottom: 15px; }
  .third-slider__image {
    width: 90px;
    height: 90px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-bottom: 10px; }
  .third-slider .slick-slide {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important; }

.key {
  padding: 10px;
  margin-bottom: 150px; }
  .key__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media only screen and (max-width: 767px) {
      .key__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .key__row--margin {
    margin-top: 20px; }
  .key__row--flex-start {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .key__title {
    text-align: center;
    margin-bottom: 20px; }
  .key__text {
    text-align: center;
    margin-bottom: 1.6em; }
  .key__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 430px;
    padding: 10px; }
    @media only screen and (max-width: 767px) {
      .key__item {
        max-width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .key__item img {
      max-width: 68px;
      max-height: 68px;
      margin-right: 15px; }
      @media only screen and (max-width: 767px) {
        .key__item img {
          margin-right: unset;
          margin-bottom: 15px; } }
  .key__item-title {
    margin-bottom: 20px; }

.last-slider__title {
  line-height: 1;
  margin-bottom: 70px; }

.industries {
  margin-bottom: 150px; }
  .industries__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .industries__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .industries__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20%;
        -ms-flex: 1 0 20%;
            flex: 1 0 20%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 20px 20px 70px 20px; }
    .industries__item:hover {
      background-color: rgba(179, 182, 191, 0.780392); }
  .industries__image-box {
    margin-bottom: 12px;
    width: 92.6px;
    height: 92.6px; }

.values {
  margin-bottom: 150px; }
  .values__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .values__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .values__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 25%;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 30px; }
    .values__item img {
      height: 75px;
      margin-bottom: 12px; }

.team {
  margin-bottom: 75px; }
  .team__main-title {
    margin-bottom: 40px;
    text-align: center; }
  .team__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .team__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .team__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33%;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 10px;
    margin-bottom: 1.6em; }
    .team__item img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      margin-bottom: 20px; }
  .team__title {
    margin-bottom: 10px; }

.contact {
  margin-bottom: 35px; }
  .contact__wrapper {
    background-color: #2355da; }
  .contact__left-side {
    background-color: #fff;
    max-width: 57.624%;
    padding: 50px 20px;
    text-align: center; }
    @media only screen and (max-width: 810px) {
      .contact__left-side {
        max-width: 50%; } }
    @media only screen and (max-width: 767px) {
      .contact__left-side {
        max-width: 100%; } }
  .contact__box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 50px 0; }
    @media only screen and (max-width: 767px) {
      .contact__box {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contact__text {
    color: #000;
    margin-bottom: 3.2em; }
  .contact__title {
    margin-bottom: 11px; }
  .contact__form input {
    color: #666;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    background: #fafafa;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    padding: 20px;
    margin: 10px 0;
    font-size: 14px; }
  .contact__first-form-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .contact__last-child {
    margin-left: 4%; }
  .contact__button {
    border: 1px solid #2355da;
    background-color: #fff;
    color: #2355da;
    padding: 15px 50px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    font-size: 16px;
    outline: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 26px; }
    .contact__button:hover {
      color: #fff;
      background-color: #2355da; }
  .contact__right-side {
    background-color: #2355da;
    color: #fff !important;
    margin-left: 86px;
    padding-top: 64px; }
    @media only screen and (max-width: 1066px) {
      .contact__right-side {
        margin-left: 15px; } }
    @media only screen and (max-width: 767px) {
      .contact__right-side {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .contact__rs-box-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px; }
    @media only screen and (max-width: 767px) {
      .contact__rs-box-item {
        min-width: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .contact__rs-title {
    margin-bottom: 20px; }
  .contact__rs-main-title {
    text-align: center;
    color: #fff;
    margin-bottom: 25px; }
  .contact__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .contact__image {
    height: 89px;
    margin-right: 50px; }
    @media only screen and (max-width: 920px) {
      .contact__image {
        margin-right: 25px; } }
  .contact__s-image {
    width: 89px;
    margin-right: 50px;
    height: 67px; }
    @media only screen and (max-width: 920px) {
      .contact__s-image {
        margin-right: 25px; } }
  .contact__call, .contact__whatsapp {
    margin: 2%;
    padding: 5% 6%;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    background: transparent;
    border-color: white;
    color: white;
    border: 2px solid #fff;
    font-size: 16px;
    cursor: pointer; }
    @media only screen and (max-width: 767px) {
      .contact__call, .contact__whatsapp {
        padding: 14px; } }
  .contact__rs-box-but {
    margin: 36px 13px 2px;
    padding: 17px; }
    @media only screen and (max-width: 920px) {
      .contact__rs-box-but {
        padding: unset; } }

.contactus__box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  @media only screen and (max-width: 767px) {
    .contactus__box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      margin-bottom: 100px; } }

.contactus__content {
  max-width: 54.6%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (max-width: 1341px) {
    .contactus__content {
      padding: 10px; } }
  @media only screen and (max-width: 767px) {
    .contactus__content {
      max-width: 100%;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center; } }

.contactus__link {
  color: #2355da; }

.contactus__text {
  margin-bottom: 1.6em; }

.contactus__image {
  max-width: 588px;
  padding: 10px; }
  @media only screen and (max-width: 1126px) {
    .contactus__image {
      max-width: 460px; } }
  @media only screen and (max-width: 767px) {
    .contactus__image {
      max-width: 100%; } }

.contactus__map {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.contactus__title {
  padding-top: 70px;
  margin-bottom: 20px; }

.contactus__button {
  color: #4054b2;
  border: 1px solid #4054b2;
  -webkit-border-radius: 50px;
          border-radius: 50px;
  display: inline-block;
  padding: 10px 40px;
  line-height: 16px; }
  .contactus__button:hover {
    background-color: #4054b2;
    color: #fff; }
  .contactus__button .fas {
    margin-left: 15px; }

.contactus__second-text {
  margin-bottom: 90px; }
  @media only screen and (max-width: 767px) {
    .contactus__second-text {
      margin-bottom: 30px; } }

.projects {
  margin-top: 100px; }
  .projects__text {
    margin-bottom: 35px; }
  .projects__box {
    text-align: center;
    margin-bottom: 200px; }
    @media only screen and (max-width: 767px) {
      .projects__box {
        padding: 0 20px; } }
  .projects__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .projects__item {
    margin: 2px; }
  .projects__first-slider--margin {
    margin-bottom: 10px; }

.footer__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px 105px 40px; }
  @media only screen and (max-width: 957px) {
    .footer__top {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .footer__top a {
    font-size: 20px;
    color: #000; }

.footer__box-item {
  padding: 0 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 25%;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%; }
  @media only screen and (max-width: 967px) {
    .footer__box-item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 23%;
          -ms-flex: 1 0 23%;
              flex: 1 0 23%;
      padding: 0 20px; } }

@media only screen and (max-width: 957px) {
  .footer__top-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 33%;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 10px; } }

@media only screen and (max-width: 597px) {
  .footer__top-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media only screen and (max-width: 437px) {
  .footer__top-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 100%;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%; } }

.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px; }
  @media only screen and (max-width: 767px) {
    .footer__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; } }

.footer__image {
  margin-right: 10px; }

.footer__logo {
  width: 150px;
  margin: 0 0 2.8em 0; }

.footer__text {
  max-width: 295px;
  text-align: justify; }
  @media only screen and (max-width: 767px) {
    .footer__text {
      max-width: 100%; } }
  .footer__text a {
    color: #000; }

.footer__box-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer__box-links a {
    margin: 11px 0;
    color: #000; }
  .footer__box-links .fas {
    color: #2185f5;
    font-size: 12px;
    width: 18px; }

.footer__cont-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 .8em; }
  .footer__cont-item:first-of-type {
    margin-bottom: 1.75em; }

.footer__title {
  margin-bottom: 1em; }

.footer__contacts .fa,
.footer__contacts .fab {
  color: #2185f5;
  margin-right: 15px;
  font-size: 16px !important; }

.footer__info {
  margin-bottom: 27px; }

.footer__info-item {
  color: #000; }

.footer__bottom {
  margin-bottom: 24px;
  text-align: center;
  width: 100%;
  font-size: 16px; }
