extends ../template/main-auth-2
block title
	| Markup
block main
	.container
		.b-auth-block.b-auth-block--sm
			.b-auth-block__inside
				.b-auth-block__heading Change password
				form(method="post" action="/")
					.b-auth-block__body
						.b-input
							.b-input__text-field-wrap
								.b-input__text-field-inside-wrap
									input(type="password" required).b-input__text-field.js-required
									span.b-input__placeholder Current password
							.b-input__text-field-wrap
								.b-input__text-field-inside-wrap
									input(type="password" required).b-input__text-field.js-required.js-input-pass-1
									span.b-input__placeholder New password
							.b-input__text-field-wrap
								.b-input__text-field-inside-wrap
									input(type="password" required).b-input__text-field.js-required.js-input-pass-2
									span.b-input__placeholder New password confirmation
								.b-input__error-pass Password do not match. Please try again
					button.b-auth-block__button.js-send Change password

		.b-auth-block__notification(style="display: none")
			.b-notification
				+icon('check-circle', 'b-notification__icon')
				p.b-notification__text Your password has been successfully changed