extends ../template/main
block title
    | Markup
block main
    .c-sections
        section(style="background-image: url(assets/img/section-bg/item-1.png)").b-header-section#what-it-altpush.js-in-scroll
            .container
                .row.align-items-center
                    .col-lg-5
                        .b-what-it
                            h1.h1 Что такое <span class="accent-text">Altpush</span>
                            p.b-what-it__text Altpush - платформа для арбитражников, которая позоволяет собирать пользователей и рассылать PUSH уведомления встроенным решением.
                            .b-what-it__button
                                a(href="#").button.button--lg Sign Up

                    .b-header-section__macbook
                        img(src="assets/img/macbook.png" alt="alt")

                .b-header-section__blockquote
                    blockquote.b-blockquote
                        p.b-blockquote__text Если вам надоело платить за непонятное и непрозрачное качество подписчиков для своей рекламы и вы готовы собирать и монетизировать их сами - наше решение для вас.
                        span.b-blockquote__author Руководитель проекта, Константин Паршуков
        section.b-text-content
            .container
                .b-text-content__container
                    .b-text-content__border-line.b-text-content__border-line--left
                        .border-line
                            .border-line__caption altpush
                            .border-line__line
                    .row.no-gutters.justify-content-center
                        .col-lg-10
                            h1.b-text-content__caption Наша цель
                            p.b-text-content__text Данное решение появилось на стыке технологий и арбитража. Рынок монополизируется большими игроками, которые вопреки конечным задачам и ценностям простых вебмастеров и арбитражников делают огромные деньги на перепродаже инвентаря.
                            p.b-text-content__text Наша цель - дать арбитражникам возможность работать на своем инвентаре без привлечения сторонних систем, которые подчас представляют собой лишь куски из целостного решения для заработка на этом формате рекламы.
        section.b-text-content#we-offer.js-in-scroll
            .container
                .b-text-content__container
                    .b-text-content__border-line.b-text-content__border-line--left.b-text-content__border-line--middle
                        .border-line
                            .border-line__caption only we
                            .border-line__line
                    .b-text-content__border-line.b-text-content__border-line--right
                        .border-line
                            .border-line__caption stay in touch
                            .border-line__line
                    .row.no-gutters.justify-content-center
                        .col-lg-10
                            h1.b-text-content__caption.b-text-content__caption--mb-md Что мы предлагаем
                            .b-suggestion
                                .b-suggestion__icon
                                    include ../../assets/img/svg/pencil-email.svg
                                .b-suggestion__row
                                    .b-suggestion__item
                                        .b-block-list
                                            .b-block-list__header Сбор подписчиков
                                            .b-block-list__body
                                                ul.b-check-list
                                                    li.b-check-list__item Использование персональных доменов для сбора
                                                    li.b-check-list__item Использование своих или шаблонных лендингов
                                                    li.b-check-list__item Использование своих постбеков
                                                    li.b-check-list__item Гибкая настройка тегов - карусели, отказы, обработка событий
                                                    li.b-check-list__item Использование кастомных сервис воркеров
                                                    li.b-check-list__item Античит для проверки качества подписчиков
                                        .b-suggestion__button.d-none.d-md-block
                                            a(href="#").button.button--lg Sign Up
                                    .b-suggestion__item
                                        .b-block-list
                                            .b-block-list__header Рассылка
                                            .b-block-list__body
                                                ul.b-check-list
                                                    li.b-check-list__item Использование изолированного рассыльщика
                                                    li.b-check-list__item Возможность продавать неиспользуемый трафик в другие сети
                                                    li.b-check-list__item Использование постбеков
                                                    li.b-check-list__item Гибкие тарифы в зависимости от количества показов
                                                    li.b-check-list__item Возможность использования рассылки со всеми таргетингами
                                                    li.b-check-list__item Возможность монетизировать свой инвентарь по желанию
                                        .b-suggestion__button.d-md-none
                                            a(href="#").button.button--lg Sign Up
        section.b-text-content
            .container
                .b-text-content__container
                    .b-text-content__border-line.b-text-content__border-line--right.b-text-content__border-line--top-start
                        .border-line
                            .border-line__caption altpush
                            .border-line__line
                    .row.no-gutters.justify-content-center
                        .col-lg-10
                            h1.b-text-content__caption Технологический стек
                            p.b-text-content__text Мы предоставляем свое технологическое решение для работы с базой и рассылкой уведомлений. Наша инфраструктура базируется на качественных серверах в Европе. Механизм обработки статистики использует эффективные и лучшие для этой задачи хранилища данных, а стек языков программирования выбран исходя из работы с высокими нагрузками.

                            p.b-text-content__text При этом в качестве решения для сбора подписчиков мы используем Fire Cloud Messaging от Google, которая будет привязана персонально к каждому пользователю системы и полностью изолирована от других пользователей. Поэтому вы можете быть уверены, что ваша база собранных подписчиков будет использоваться только вами и никем больше. Механизм рассылки так же реализован в виде изолированного решения для каждого клиента - ваш рассыльщик и сервис подбора рекламных кампаний не будет аффектиться другими участниками системы, поэтому вы сможете быть уверены в доставке ваших сообщений на все 100%.
        section.b-text-content.b-text-content--pb-xl
            .container
                .b-text-content__container
                    .b-text-content__border-line.b-text-content__border-line--left
                        .border-line
                            .border-line__caption stay in touch
                            .border-line__line
                h1.b-text-content__caption Ценовая политика
                .row
                    .col-lg-3.col-sm-6
                        .b-price-block
                            .b-price-block__header
                                h6.b-price-block__caption Вебмастер
                                span.b-price-block__price Free $0
                            .b-price-block__body
                                ul.b-main-list.b-main-list--sm
                                    li.b-main-list__item Неограниченный сбор
                                    li.b-main-list__item Использование тегов
                                    li.b-main-list__item Использование постбеков
                                    li.b-main-list__item Статистика по инвентарю
                                    li.b-main-list__item Монетизация через партнеров

                                .b-price-block__sub-caption НЕДОСТУПНО
                                ul.b-main-list.b-main-list--sm.b-main-list--silver
                                    li.b-main-list__item Рассылка своих РК
                            .b-price-block__footer
                                a(href="#").button More
                    .col-lg-3.col-sm-6
                        .b-price-block.b-price-block--accent
                            .b-price-block__header
                                h6.b-price-block__caption Арбитражник
                                span.b-price-block__price $0.001
                                .b-price-block__price-desc (за показ)
                            .b-price-block__body
                                ul.b-main-list.b-main-list--sm
                                    li.b-main-list__item Неограниченный сбор
                                    li.b-main-list__item Использование тегов
                                    li.b-main-list__item Использование постбеков
                                    li.b-main-list__item Статистика по инвентарю
                                    li.b-main-list__item Монетизация через партнеров

                                .b-price-block__sub-caption НЕДОСТУПНО
                                ul.b-main-list.b-main-list--sm.b-main-list--silver
                                    li.b-main-list__item Рассылка своих РК
                            .b-price-block__footer
                                a(href="#").button More
                    .col-lg-3.col-sm-6
                        .b-price-block
                            .b-price-block__header
                                h6.b-price-block__caption Вебмастер
                                span.b-price-block__price Free $0
                            .b-price-block__body
                                ul.b-main-list.b-main-list--sm
                                    li.b-main-list__item Неограниченный сбор
                                    li.b-main-list__item Использование тегов
                                    li.b-main-list__item Использование постбеков
                                    li.b-main-list__item Статистика по инвентарю
                                    li.b-main-list__item Монетизация через партнеров

                                .b-price-block__sub-caption НЕДОСТУПНО
                                ul.b-main-list.b-main-list--sm.b-main-list--silver
                                    li.b-main-list__item Рассылка своих РК
                            .b-price-block__footer
                                a(href="#").button More
                    .col-lg-3.col-sm-6
                        .b-price-block
                            .b-price-block__header
                                h6.b-price-block__caption Вебмастер
                                span.b-price-block__price Free $0
                            .b-price-block__body
                                ul.b-main-list.b-main-list--sm
                                    li.b-main-list__item Неограниченный сбор
                                    li.b-main-list__item Использование тегов
                                    li.b-main-list__item Использование постбеков
                                    li.b-main-list__item Статистика по инвентарю
                                    li.b-main-list__item Монетизация через партнеров

                                .b-price-block__sub-caption НЕДОСТУПНО
                                ul.b-main-list.b-main-list--sm.b-main-list--silver
                                    li.b-main-list__item Рассылка своих РК
                            .b-price-block__footer
                                a(href="#").button More
    .b-feedback-form-section#contacts.js-in-scroll
        .container
            .row
                .col-md-5.b-feedback-form-section__first-col
                    .b-feedback-form-section__logo
                        a(href="#").b-logo
                            .b-logo__img
                                include ../../assets/img/svg/logo-accent.svg
                    .b-social
                        a(href="#").b-social__item
                            .b-social__item-icon
                                +icon('fa-telegram')
                            | @altpush
                        a(href="#").b-social__item
                            .b-social__item-icon
                                +icon('fa-youtube')
                            | live:affpush
                        a(href="#").b-social__item
                            .b-social__item-icon
                                +icon('fa-envelope')
                            | support@altpush.com
                .col-md-7
                    h1.h4 Форма обратной связи

                    form(method="post" action="/").b-feedback-form
                        .b-input
                            .b-input__row
                                .b-input__col
                                    .b-input__text-field-wrap
                                        .b-input__text-field-inside-wrap
                                            input(type="text").b-input__text-field.js-required
                                            span.b-input__placeholder Имя
                                .b-input__col
                                    .b-input__text-field-wrap
                                        .b-input__text-field-inside-wrap
                                            input(type="email").b-input__text-field.js-required
                                            span.b-input__placeholder Email
                            .b-input__text-field-wrap
                                .b-input__text-field-inside-wrap
                                    input(type="text").b-input__text-field.js-required
                                    span.b-input__placeholder Текст сообщения
                        button.b-feedback-form__button.js-send Отправить
                            .b-feedback-form__button-icon
                                include ../../assets/img/svg/long-arrow.svg