extends ../template/main-auth
block title
	| Markup
block main
	.container
		.b-notification
			+icon('envelope-open', 'b-notification__icon')
			p.b-notification__text Instructions for resetting your password have been emailed to you

