extends ../template/main-auth
block title
	| Markup
block main
	.container
		.b-notification
			+icon('check-circle', 'b-notification__icon')
			p.b-notification__text Your password has been successfully changed

