extends ../template/main-auth
block title
	| Markup
block main
	.container
		.b-heading
			h1.h1.b-heading__caption Sign in
		.b-auth-block.b-auth-block--sm
			.b-auth-block__inside
				form(method="post" action="/").b-auth-block__item
					.b-auth-block__body
						.b-input
							.b-input__text-field-wrap
								.b-input__text-field-inside-wrap
									input(type="email").b-input__text-field.js-required
									span.b-input__placeholder E-mail

							.b-input__text-field-wrap
								.b-input__text-field-inside-wrap
									input(type="password").b-input__text-field.js-required
									span.b-input__placeholder Password
							.b-input__text-field-wrap
								.b-captcha
									#reCaptcha.b-captcha__frame
					button.b-auth-block__button.js-send Sign up
			.b-auth-block__outside
				a(href="#").b-auth-block__link Forgot password?