footer.c-footer
	.container
		.c-footer__top-line
			.row.justify-content-between.align-items-center
				.col-md-auto
					.c-footer__logo
						include ../../assets/img/svg/mst.svg
				.col-md-auto
					.c-footer__social
						ul.b-social
							li.b-social__item
								a(href="#").b-social__link
									+icon('fa-vk', 'b-social__icon')
							li.b-social__item
								a(href="#").b-social__link
									+icon('fa-fb', 'b-social__icon')
							li.b-social__item
								a(href="#").b-social__link
									+icon('fa-insta', 'b-social__icon')

		.c-footer__body.js-toggle-panel
			.row
				.col-md-3
					.b-footer-list.js-toggle-panel-item
						.b-footer-list__header.js-toggle-panel-button
							h4.b-footer-list__caption О проекте
							+icon('fa-angle-down', 'b-footer-list__icon')
						.b-footer-list__body
							ul.b-footer-list__list
								li.b-footer-list__item
									a(href="#") Новости
								li.b-footer-list__item
									a(href="#") О застройщике
								li.b-footer-list__item
									a(href="#") Документация
								li.b-footer-list__item
									a(href="#") Фотогалерея
								li.b-footer-list__item
									a(href="#") Инфраструктура
								li.b-footer-list__item
									a(href="#") Расположение

				.col-md-3
					.b-footer-list.js-toggle-panel-item
						.b-footer-list__header.js-toggle-panel-button
							h4.b-footer-list__caption Выбор помещения
							+icon('fa-angle-down', 'b-footer-list__icon')
						.b-footer-list__body
							ul.b-footer-list__list
								li.b-footer-list__item
									a(href="#") Квартира
								li.b-footer-list__item
									a(href="#") Квартира с отделкой
								li.b-footer-list__item
									a(href="#") Машиноместа
								li.b-footer-list__item
									a(href="#") Кладовые
								li.b-footer-list__item
									a(href="#") Инфраструктура
								li.b-footer-list__item
									a(href="#") Коммерческие помещения

				.col-md-3
					.b-footer-list.js-toggle-panel-item
						.b-footer-list__header.js-toggle-panel-button
							h4.b-footer-list__caption Ипотечные программы
							+icon('fa-angle-down', 'b-footer-list__icon')
						.b-footer-list__body
							ul.b-footer-list__list
								li.b-footer-list__item
									a(href="#") Военная ипотека
								li.b-footer-list__item
									a(href="#") Ипотека с материским капиталом
								li.b-footer-list__item
									a(href="#") Рассрочка
								li.b-footer-list__item
									a(href="#") Калькулятор


				.col-md-3
					ul.b-footer-list.b-footer-list--bold
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Акции и спецпредложения
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Ход строительства
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Реконструкция микрорайона 29
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Контакты

		.c-footer__bottom-line
			.row.align-items-center.justify-content-between
				.col-md-auto
					span.c-footer__copyright © Микрорайон «г. Мытищи, ул. Стрелковая», 2015-2019

				.col-md-auto
					ul.b-footer-links
						li.b-footer-links__item
							a(href="#").b-footer-links__link Правовая информация
						li.b-footer-links__item
							a(href="#").b-footer-links__link Лицензия банков
						li.b-footer-links__item
							a(href="#").b-footer-links__link Проектная документация