header.c-header.c-header--sticky
	.container
		.row.align-items-center
			.c-header__logo
				a(href="/").b-logo
					include ../../assets/img/svg/logo.svg

			.c-header__burger
				button.burger.js-burger-btn
					.burger__icon
			.col.d-none.d-lg-block
				nav.b-navigation
					a(href="#").b-navigation__item О проекте
					a(href="#").b-navigation__item Ипотека
					a(href="#").b-navigation__item Акции
					a(href="#").b-navigation__item Ход строительства
					a(href="#").b-navigation__item Контакты
			.col-auto.d-none.d-sm-block
				.b-feedback-h
					a(href="tel:+7(495)2292827").b-feedback-h__number
						+icon('fa-phone', 'b-feedback-h__number-icon')
						| +7 (495) 229-28-27
					a(href="#").b-feedback-h__button оставить заявку
		.c-header__category.d-none.d-lg-block
			ul.b-header-category
				li.b-header-category__item
					a(href="#") Квартиры
				li.b-header-category__item
					a(href="#") Машиноместа
				li.b-header-category__item
					a(href="#") Коммерческие помещения
				li.b-header-category__item
					a(href="#") Кладовые