.b-menu.js-menu
	.b-menu__pictures(style="background-image: url(assets/img/utils/menu.jpg)")

	.b-menu__content
		.b-menu__header
			.row.align-items-center
				.b-menu__logo
					a(href="/").b-logo
						include ../../assets/img/svg/logo.svg
				.b-menu__logo-company
					include ../../assets/img/svg/mst.svg

				.col-auto.d-none.d-lg-block
					a(href="#").button.button--sm ПОДПИСАТЬСЯ НА НОВОСТИ <br/> КОМПАНИИ

				.b-menu__burger
					button.burger.active.burger--st-2.js-close-menu
						span.burger__icon
		.b-menu__category
			ul.b-header-category
				li.b-header-category__item
					a(href="#") Квартиры
				li.b-header-category__item
					a(href="#") Машиноместа
				li.b-header-category__item
					a(href="#") Коммерческие помещения
				li.b-header-category__item
					a(href="#") Кладовые
		.b-menu__body.js-toggle-panel
			span.b-menu__signature КВАРТАЛ
			.row
				.col-md-3.col-lg-4.order-lg-1
					.b-footer-list.js-toggle-panel-item
						.b-footer-list__header.js-toggle-panel-button
							h4.b-footer-list__caption О проекте
							+icon('fa-angle-down', 'b-footer-list__icon')
						.b-footer-list__body
							ul.b-footer-list__list
								li.b-footer-list__item
									a(href="#") Новости
								li.b-footer-list__item
									a(href="#") О застройщике
								li.b-footer-list__item
									a(href="#") Документация
								li.b-footer-list__item
									a(href="#") Фотогалерея
								li.b-footer-list__item
									a(href="#") Инфраструктура
								li.b-footer-list__item
									a(href="#") Расположение

				.col-md-3.col-lg-4.order-lg-3
					.b-footer-list.js-toggle-panel-item
						.b-footer-list__header.js-toggle-panel-button
							h4.b-footer-list__caption Выбор помещения
							+icon('fa-angle-down', 'b-footer-list__icon')
						.b-footer-list__body
							ul.b-footer-list__list
								li.b-footer-list__item
									a(href="#") Квартира
								li.b-footer-list__item
									a(href="#") Квартира с отделкой
								li.b-footer-list__item
									a(href="#") Машиноместа
								li.b-footer-list__item
									a(href="#") Кладовые
								li.b-footer-list__item
									a(href="#") Инфраструктура
								li.b-footer-list__item
									a(href="#") Коммерческие помещения

				.col-md-3.col-lg-6.order-lg-2
					.b-footer-list.js-toggle-panel-item
						.b-footer-list__header.js-toggle-panel-button
							h4.b-footer-list__caption Ипотечные программы
							+icon('fa-angle-down', 'b-footer-list__icon')
						.b-footer-list__body
							ul.b-footer-list__list
								li.b-footer-list__item
									a(href="#") Военная ипотека
								li.b-footer-list__item
									a(href="#") Ипотека с материским капиталом
								li.b-footer-list__item
									a(href="#") Рассрочка
								li.b-footer-list__item
									a(href="#") Калькулятор

				.col-md-3.col-lg-6.order-lg-4
					ul.b-footer-list.b-footer-list--bold
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Акции и спецпредложения
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Ход строительства
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Реконструкция микрорайона 29
						li.b-footer-list__item
							a(href="#").b-footer-list__caption Контакты

			.b-menu__bottom
				a(href="#").button.button--sm.button--sm-w100 ПОДПИСАТЬСЯ НА НОВОСТИ <br/> КОМПАНИИ
