.o-modal.o-modal--lg#add-sources
	.o-modal__center
		.o-modal__content-transparent
			button.o-modal__close.js-modal-close
				+icon('fa-times', 'o-modal__close-button-icon')

			.o-modal__body
				video(controls)
					source(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.ogv', type='video/ogg')
					source(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4', type='video/mp4')
					source(src='http://clips.vorwaerts-gmbh.de/big_buck_bunny.webm', type='video/webm')
