* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

img {
  max-width: 100%;
  vertical-align: middle; }

a {
  text-decoration: none; }

li {
  list-style: none; }

body {
  font-family: Montserrat, sans-serif;
  overflow-x: hidden; }

.header {
  background-image: url(../img/backboard.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  min-height: 480px;
  margin-bottom: 140px;
  position: relative; }

.headerTop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 10%;
  padding-top: 56px; }

.headerTop__logo h2 {
  opacity: 0.68;
  color: #ffffff;
  font-family: MrsEavesOT;
  font-size: 119px;
  font-weight: 400;
  font-style: italic;
  line-height: 100px;
  min-width: 285px; }

.navi {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .navi li {
    padding: 15px; }
  .navi a {
    color: #ffffff;
    font-size: 23px; }
    .navi a:hover {
      opacity: 0.4; }

.headerMain {
  padding: 0 50px; }

.slideButWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 300px; }

.sliderWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -30%);
      -ms-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%); }

.slider__center {
  outline: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .slider__center p {
    display: inline-block;
    color: #ffffff;
    font-size: 45px;
    font-weight: 300;
    padding-bottom: 38px; }
    .slider__center p span {
      font-size: 65px;
      font-weight: 400; }

.sliderPhoto img {
  padding-right: 72px; }

.sliderInfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .sliderInfo a {
    width: 138px;
    height: 43px;
    color: #ffffff;
    font-family: Segoe UI;
    font-weight: 300;
    font-size: 23px;
    border: 4px solid rgba(0, 0, 0, 0.37);
    background-color: #2A6F4F;
    text-align: center; }
  .sliderInfo p {
    font-family: Segoe UI;
    font-size: 45px;
    font-weight: 300; }
    .sliderInfo p span {
      font-family: Segoe UI;
      font-weight: 600;
      font-size: 65px; }

.sliderButton {
  display: inline-block;
  background-color: transparent;
  width: 50px;
  height: 50px;
  outline: none;
  border: solid 3px rgba(255, 255, 255, 0.22);
  -webkit-border-radius: 50%;
          border-radius: 50%; }
  .sliderButton .fas {
    background-color: transparent;
    color: #fff;
    opacity: 0.22;
    font-size: 30px; }

.slick-slider {
  display: inline-block !important;
  max-width: 800px; }

.slick-slide {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.slick-dots li {
  margin-right: 20px; }
  .slick-dots li:last-child {
    margin-right: 0px; }

.slick-dots button {
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 3px solid #477078;
  outline: none;
  background-color: transparent;
  font-size: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.slick-dots .slick-active {
  background-color: #477078;
  height: 20px;
  width: 20px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 1036px) {
  .fak,
  .fal {
    display: none; }
  .slick-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 1024px) {
  .headerTop {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .navi li {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    text-align: center; } }

@media screen and (max-width: 828px) {
  .slider__center {
    padding-bottom: 20px; }
    .slider__center img {
      height: 220px;
      padding-right: 32px; }
  .sliderInfo p {
    font-size: 24px; }
    .sliderInfo p span {
      font-size: 42px; }
  .header {
    margin-bottom: 95px; } }

@media screen and (max-width: 535px) {
  .sliderInfo,
  .slickPhoto {
    position: absolute; }
  .slider__center img {
    padding-right: 0px;
    height: 270px; }
  .sliderInfo {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .slick-slider {
    max-width: 350px; } }

.container {
  margin: 0 15%; }

.hexagon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding-bottom: 109px; }
  .hexagon button {
    background-color: #fff;
    border: none;
    outline: none;
    outline-offset: 0;
    cursor: pointer; }

.colorButton {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 15px;
  font-size: 27px;
  font-family: Segoe UI;
  font-weight: 300;
  color: #5c5b5b;
  opacity: 0.5; }
  .colorButton span {
    font-size: 23px; }

.blue,
.yellow,
.green,
.orange {
  position: relative;
  padding-bottom: 20px; }
  .blue i,
  .yellow i,
  .green i,
  .orange i {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -60%);
        -ms-transform: translate(-50%, -60%);
            transform: translate(-50%, -60%);
    font-size: 80px;
    color: #fff; }

.information {
  display: none;
  padding-bottom: 90px; }

.show {
  display: inline-block; }

.showbut {
  opacity: 1; }

.information__ipad {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .information__ipad img {
    padding-bottom: 58px; }

.information__block h2 {
  color: #4f4f4f;
  font-family: Segoe UI;
  font-size: 39px;
  font-weight: 300; }

.information__block p {
  color: #818181;
  font-family: UniversCE;
  font-size: 24px;
  font-weight: 300; }

.cssauthor {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 98px; }

.blockList {
  padding-top: 25px; }
  .blockList h4 {
    color: #4f4f4f;
    font-family: Segoe UI;
    font-size: 33px;
    font-weight: 300;
    padding-bottom: 25px; }

.blockListItems {
  color: #8a8888;
  font-family: UniversCE;
  font-size: 16px;
  font-weight: 300; }
  .blockListItems li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .blockListItems .fas {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 18px;
    width: 18px;
    background-color: #e67624;
    color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
    margin-right: 15px; }
    .blockListItems .fas:before {
      vertical-align: sub; }

.formSection {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px; }
  .formSection h3 {
    color: #ffffff;
    font-family: Segoe UI;
    font-size: 28px;
    font-weight: 300;
    padding-bottom: 20px; }
  .formSection button {
    background-color: #444444;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 300;
    height: 25px; }
  .formSection input {
    margin: 5px; }
  .formSection form {
    -webkit-border-radius: 2%;
            border-radius: 2%;
    max-width: 470px;
    width: 100%; }

.formSection__member {
  padding: 15px; }
  .formSection__member form {
    background-color: #e67624;
    padding: 10px 16px 20px 29px; }
    .formSection__member form button {
      min-width: 94px; }
  .formSection__member input {
    max-width: 150px;
    width: 100%;
    height: 25px;
    color: #4f4f4f;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    padding-left: 12px; }

.formSection__login {
  padding: 15px; }
  .formSection__login form {
    background-color: #01d4f3;
    max-width: 470px;
    width: 100%;
    padding: 10px 16px 20px 29px; }
  .formSection__login input {
    height: 25px;
    max-width: 265px;
    width: 100%;
    color: #4f4f4f;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 600;
    padding-left: 12px; }
  .formSection__login button {
    background-color: #029bb1;
    min-width: 110px; }

.member__leftBlock,
.member__rightBlock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

@media screen and (max-width: 1560px) {
  .cssauthor {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .blockList h4 {
    text-align: center; } }

@media screen and (max-width: 1401px) {
  .formSection {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media screen and (max-width: 1030px) {
  .headerTop {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 1000px) {
  .colorButton {
    font-size: 18px; }
    .colorButton span {
      font-size: 18px; }
    .colorButton img {
      max-width: 60%; }
    .colorButton .fas {
      font-size: 40px; } }

@media screen and (max-width: 885px) {
  .information__block h2 {
    font-size: 24px;
    text-align: center; }
  .information__block p {
    font-size: 16px; }
  .information {
    padding-bottom: 20px; }
  .information__ipad img {
    padding-bottom: 0; } }

@media screen and (max-width: 838px) {
  .colorButton .fas {
    font-size: 30px; } }

@media screen and (max-width: 763px) {
  .hexagon {
    padding-bottom: 30px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .colorButton {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 50%;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%; }
    .colorButton img {
      max-width: 37%; } }

@media screen and (max-width: 500px) {
  .container {
    margin: 15px; }
  .cssauthor {
    padding-bottom: 40px; } }

@media screen and (max-width: 470px) {
  .blockList h4 {
    font-size: 22px; } }

@media screen and (max-width: 450px) {
  .colorButton {
    padding: 0px;
    padding-bottom: 10px;
    font-size: 15px; }
    .colorButton img {
      max-width: 40%; }
    .colorButton .fas {
      font-size: 25px;
      -webkit-transform: translate(-50%, -60%);
          -ms-transform: translate(-50%, -60%);
              transform: translate(-50%, -60%); }
  .blue,
  .yellow,
  .green,
  .orange {
    padding-bottom: 0px; } }

@media screen and (max-width: 444px) {
  .formSection__login,
  .formSection__member {
    padding: 0 0 15px 0; }
  .member__leftBlock {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    .member__leftBlock button {
      margin: 0 auto; } }

@media screen and (max-width: 345px) {
  .member__leftBlock {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .member__rightBlock {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }

@media screen and (max-width: 500px) {
  .footer .container {
    margin: 0px; } }

.footer {
  background-color: #2B2727; }

.footerWrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footerBlocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }
  .footerBlocks h3 {
    color: #ffffff;
    font-family: Segoe UI;
    font-size: 22px;
    font-weight: 300;
    padding-bottom: 15px; }
  .footerBlocks a, .footerBlocks p {
    opacity: 0.5;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px; }
  .footerBlocks p {
    max-width: 316px;
    width: 100%; }
  .footerBlocks span {
    opacity: 0.66;
    color: #ffffff;
    font-family: "Arial - Bold MT";
    font-size: 14px;
    font-weight: 600;
    line-height: 22px; }

.footerBlocks__item {
  padding: 15px; }
  .footerBlocks__item a:hover {
    opacity: 0.4; }

.footer__logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .footer__logo span {
    opacity: 0.8;
    color: #ffffff;
    font-family: "Arial MT";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px; }
  .footer__logo h2 {
    display: inline-block;
    opacity: 0.22;
    min-width: 300px; }

@media screen and (max-width: 1370px) {
  .footerWrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media screen and (max-width: 844px) {
  .footerBlocks {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .footerBlocks__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; } }
