extends ../template/home
block title
	| Markup
block main
	section.b-home-section(style="background-image: url(assets/img/section/item-1.jpg)")
		.container

			.b-home-section__center
				.b-home-caption
					h1.b-home-caption__title Квартал

			.b-home-section__footer
				.b-actions-list.js-actions-slider
					.b-actions-list__item
						a(href="#").b-action
							.b-action__icon
								span.actions-sprite.mansion
							span.b-action__title Генплан
					.b-actions-list__item
						a(href="#").b-action
							.b-action__icon
								span.actions-sprite.key
							span.b-action__title Выбор квартиры
					.b-actions-list__item
						a(href="#").b-action
							.b-action__icon
								span.actions-sprite.camera
							span.b-action__title Онлайн камера
					.b-actions-list__item
						a(href="#").b-action
							.b-action__icon
								span.actions-sprite.bee
							span.b-action__title Текущая акция
	section.b-benefits(style="background-image: url(assets/img/section/item-2.png)")
		.b-vertical-title
			.b-vertical-title__border
			span.b-vertical-title__title актуальные акции
		.container
			//MOBILE CAROUSEL
			.d-md-none.js-benefits-mobile.o-slick
				div.o-slick__item
					a(href="#" style="background-image: url(assets/img/benefit/item-1.jpg)").b-benefit.b-benefit--style-2
						.b-benefit__content
							span.b-benefit__label 1 мая 2019
							span.b-benefit__caption Замайчивые цены
							span.b-benefit__desc в честь майских праздников
				div.o-slick__item
					a(href="#" style="background-image: url(assets/img/benefit/item-2.jpg)").b-benefit.b-benefit--style-3
						.b-benefit__content.b-benefit__content--right
							span.b-benefit__label.b-benefit__label--red Спецпредложение
							span.b-benefit__caption Бесплатный паркинг
							span.b-benefit__desc в подарок при покупке квартиры до 28.05
				div.o-slick__item
					a(href="#" style="background-image: url(assets/img/benefit/item-3.jpg)").b-benefit.b-benefit--style-1
						.b-benefit__content
							span.b-benefit__label.b-benefit__label--red Спецпредложение
							span.b-benefit__caption Коммерческая недвижимость
							span.b-benefit__desc по самым выгодным ценам

				div.o-slick__item
					a(href="#" style="background-image: url(assets/img/benefit/item-1.jpg)").b-benefit.b-benefit--style-2
						.b-benefit__content
							span.b-benefit__label 1 мая 2019
							span.b-benefit__caption Замайчивые цены
							span.b-benefit__desc в честь майских праздников
				div.o-slick__item
					a(href="#" style="background-image: url(assets/img/benefit/item-2.jpg)").b-benefit.b-benefit--style-3
						.b-benefit__content.b-benefit__content--right
							span.b-benefit__label.b-benefit__label--red Спецпредложение
							span.b-benefit__caption Бесплатный паркинг
							span.b-benefit__desc в подарок при покупке квартиры до 28.05
				div.o-slick__item
					a(href="#" style="background-image: url(assets/img/benefit/item-3.jpg)").b-benefit.b-benefit--style-1
						.b-benefit__content
							span.b-benefit__label.b-benefit__label--red Спецпредложение
							span.b-benefit__caption Коммерческая недвижимость
							span.b-benefit__desc по самым выгодным ценам

			//DESKTOP CAROUSEL
			.d-none.d-md-block.o-slick.o-slick--gutter.benefits-desktop-slider
				.o-slick__arrow.o-slick__arrow--prev
					+icon('arrow-left')
				.o-slick__arrow.o-slick__arrow--next
					+icon('arrow-right')
				.js-benefits-desktop
					div.o-slick__item
						.row.b-benefits__row
							.col-md-5.b-benefits__col
								.b-benefits__item
									a(href="#" style="background-image: url(assets/img/benefit/item-1.jpg)").b-benefit.b-benefit--style-2
										.b-benefit__content
											span.b-benefit__label 1 мая 2019
											span.b-benefit__caption Замайчивые цены
											span.b-benefit__desc в честь майских праздников

							.col-md-7.b-benefits__col
								.b-benefits__item--in-column
									a(href="#" style="background-image: url(assets/img/benefit/item-2.jpg)").b-benefit.b-benefit--style-3
										.b-benefit__content.b-benefit__content--right
											span.b-benefit__label.b-benefit__label--red Спецпредложение
											span.b-benefit__caption Бесплатный паркинг
											span.b-benefit__desc в подарок при покупке квартиры до 28.05
								.b-benefits__item--in-column
									a(href="#" style="background-image: url(assets/img/benefit/item-3.jpg)").b-benefit.b-benefit--style-1
										.b-benefit__content
											span.b-benefit__label.b-benefit__label--red Спецпредложение
											span.b-benefit__caption Коммерческая недвижимость
											span.b-benefit__desc по самым выгодным ценам
					div.o-slick__item
						.row.b-benefits__row
							.col-md-5.b-benefits__col
								.b-benefits__item
									a(href="#" style="background-image: url(assets/img/benefit/item-1.jpg)").b-benefit.b-benefit--style-2
										.b-benefit__content
											span.b-benefit__label 1 мая 2019
											span.b-benefit__caption Замайчивые цены
											span.b-benefit__desc в честь майских праздников

							.col-md-7.b-benefits__col
								.b-benefits__item--in-column
									a(href="#" style="background-image: url(assets/img/benefit/item-2.jpg)").b-benefit.b-benefit--style-3
										.b-benefit__content.b-benefit__content--right
											span.b-benefit__label.b-benefit__label--red Спецпредложение
											span.b-benefit__caption Бесплатный паркинг
											span.b-benefit__desc в подарок при покупке квартиры до 28.05
								.b-benefits__item--in-column
									a(href="#" style="background-image: url(assets/img/benefit/item-3.jpg)").b-benefit.b-benefit--style-1
										.b-benefit__content
											span.b-benefit__label.b-benefit__label--red Спецпредложение
											span.b-benefit__caption Коммерческая недвижимость
											span.b-benefit__desc по самым выгодным ценам
	section.b-special-offers(style="background-image: url(assets/img/section/item-3.jpg)")
		h1.h1.b-heading Специальные предложения
		.container
			.b-flats
				.o-slick.js-flats-carousel
					.b-flats__item
						a(href="#").b-flat
							.row
								.col-lg-3
									.b-flat__picture
										img(src="assets/img/flat/item-2.png" alt="alt")
								.col-lg-6
									.b-flat__desc
										span.b-flat__placing Корпус 14, Секция 3
										h2.b-flat__title 2-комнатная квартира, 60.59 м2

										ul.b-flat-list
											li.b-flat-list__item
												span.b-flat-list__val 60.59
												span.b-flat-list__label м2, общая площадь

											li.b-flat-list__item
												span.b-flat-list__val 404
												span.b-flat-list__label номер квартиры

											li.b-flat-list__item
												span.b-flat-list__val 4
												span.b-flat-list__label номер этажа
								.col-lg-3
									.b-flat__price
										span.b-flat__old-price 5 533 660 ₽
										span.b-flat__actual-price 4 533 660 ₽
										span.b-flat__m2-price или 74 322 за м2

										.b-flat__label
											span.tag
												| БЕЗ ОТДЕЛКИ
					.b-flats__item
						a(href="#").b-flat
							.row
								.col-lg-2.col-xl-3
									.b-flat__picture
										img(src="assets/img/flat/item-1.png" alt="alt")
								.col-lg-7.col-xl-6
									.b-flat__desc
										span.b-flat__placing Корпус 14, Секция 3
										h2.b-flat__title 1-комнатная квартира, 43.39 м2

										ul.b-flat-list
											li.b-flat-list__item
												span.b-flat-list__val 43.39
												span.b-flat-list__label м2, общая площадь

											li.b-flat-list__item
												span.b-flat-list__val 355
												span.b-flat-list__label номер квартиры

											li.b-flat-list__item
												span.b-flat-list__val 3
												span.b-flat-list__label номер этажа
								.col-lg-3
									.b-flat__price
										span.b-flat__old-price 4 533 660 ₽
										span.b-flat__actual-price 3 335 225 ₽
										span.b-flat__m2-price или 79 410 за м2

										.b-flat__label
											span.tag.tag--green
												+icon('fa-check', 'tag__icon')
												| Отделка

											span.tag.tag--red
												+icon('tag', 'tag__icon')
												| спеццена
					.b-flats__item
						a(href="#").b-flat
							.row
								.col-lg-2.col-xl-3
									.b-flat__picture
										img(src="assets/img/flat/item-3.png" alt="alt")
								.col-lg-7.col-xl-6
									.b-flat__desc
										span.b-flat__placing Корпус 14, Секция 2
										h2.b-flat__title 3-комнатная квартира, 79.01 м2

										ul.b-flat-list
											li.b-flat-list__item
												span.b-flat-list__val 79.01
												span.b-flat-list__label м2, общая площадь

											li.b-flat-list__item
												span.b-flat-list__val 294
												span.b-flat-list__label номер квартиры

											li.b-flat-list__item
												span.b-flat-list__val 6
												span.b-flat-list__label номер этажа
								.col-lg-3
									.b-flat__price
										span.b-flat__old-price 6 533 660 ₽
										span.b-flat__actual-price 5 778 225 ₽
										span.b-flat__m2-price или 73 142 за м2

										.b-flat__label
											span.tag.tag--green
												+icon('fa-check', 'tag__icon')
												| Отделка

					.b-flats__item
						a(href="#").b-flat
							.row
								.col-lg-2.col-xl-3
									.b-flat__picture
										img(src="assets/img/flat/item-4.png" alt="alt")
								.col-lg-7.col-xl-6
									.b-flat__desc
										span.b-flat__placing Корпус 14, Секция 3
										h2.b-flat__title 1-комнатная квартира, 42.04 м2

										ul.b-flat-list
											li.b-flat-list__item
												span.b-flat-list__val 42.01
												span.b-flat-list__label м2, общая площадь

											li.b-flat-list__item
												span.b-flat-list__val 279
												span.b-flat-list__label номер квартиры

											li.b-flat-list__item
												span.b-flat-list__val 3
												span.b-flat-list__label номер этажа
								.col-lg-3
									.b-flat__price
										span.b-flat__old-price 4 533 660 ₽
										span.b-flat__actual-price 3 350 140 ₽
										span.b-flat__m2-price или 79 765 за м2

										.b-flat__label
											span.tag.tag--green
												+icon('fa-check', 'tag__icon')
												| Отделка

	section.b-scheme
		h1.h1.b-heading Генплан
		.b-scheme__body
			.b-scheme__change
				button.button.button--md.button--red
					+icon('fa-sync', 'button__icon')
					| изменить ракурс
			.b-scheme__item.b-scheme__item--st-1(style="background-image: url(assets/img/scheme/item-1.jpg)")

				.b-scheme__corps.b-scheme__corps--13.js-crops-details-block
					.corps-circle.js-crops-details-button
						span.corps-circle__label Корпус
						span.corps-circle__number №13
					.b-scheme__corps-details
						.b-corps-details
							button.b-corps-details__close.js-crops-details-close
								+icon('fa-times', 'b-corps-details__close-icon')

							.b-corps-details__header
								.b-corps-details__title Корпус №13
								.b-corps-details__realiz Ввод в эксплуатацию - 4 квартал 2021
								a(href="#").b-corps-details__device Устройство котловвана
							.b-corps-details__body
								table.b-corps-details__table
									tr
										td
											| 1 комната
										td
											| От <strong> 11.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 1</strong>
									tr
										td
											| 2 комнаты
										td
											| От <strong> 15.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 4</strong>

									tr
										td
											| 3 комнаты
										td
											| От <strong> 18.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 13</strong>
									tr
										td
											| 4 комнаты
										td
											| От <strong> 18.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 1</strong>
				.b-scheme__corps.b-scheme__corps--14.js-crops-details-block
					.corps-circle.js-crops-details-button
						span.corps-circle__label Корпус
						span.corps-circle__number №14
					.b-scheme__corps-details
						.b-corps-details
							button.b-corps-details__close.js-crops-details-close
								+icon('fa-times', 'b-corps-details__close-icon')

							.b-corps-details__header
								.b-corps-details__title Корпус №14
								.b-corps-details__realiz Ввод в эксплуатацию - 4 квартал 2021
								a(href="#").b-corps-details__device Устройство котловвана
							.b-corps-details__body
								table.b-corps-details__table
									tr
										td
											| 1 комната
										td
											| От <strong> 11.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 1</strong>
									tr
										td
											| 2 комнаты
										td
											| От <strong> 15.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 4</strong>

									tr
										td
											| 3 комнаты
										td
											| От <strong> 18.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 13</strong>
									tr
										td
											| 4 комнаты
										td
											| От <strong> 18.1 млн.р</strong>
										td(class="end")
											| В продаже <strong class="red-link"> 1</strong>
				.b-scheme__corps.b-scheme__corps--section-2-4
					.corps-section
						span.corps-section__label Секции
						span.corps-section__number 2-4
						span.corps-section__realize Сдача 4 квартал <br/> 2020 г.
						a(href="#").corps-section__select-flat Выбрать квартиру
				.b-scheme__corps.b-scheme__corps--section-5-8
					.corps-section
						span.corps-section__label Секции
						span.corps-section__number 5-8
						span.corps-section__realize Сдача 2 квартал <br/> 2019 г.
						a(href="#").corps-section__select-flat Выбрать квартиру

	section.b-mortgage-section(style="background-image: url(assets/img/section/item-2.png)")
		.b-vertical-title
			.b-vertical-title__border
			span.b-vertical-title__title Дом для вашей семьи


		.container
			.row.align-items-center.no-gutters
				.col-sm-6.order-sm-1
					.b-mortgage-section__image
						.b-image-decoration
							img(src="assets/img/utils/mortgage-form.jpg" alt="alt")
				.col-sm-6
					.b-mortgage-section__form
						form(method="post" action="/").b-form
							h1.b-form__caption Ипотека
							p Отправьте заявку онлайн сразу в несколько банков и <strong class="strong">сократите время оформления ипотеки</strong>.
							.b-form__body
								.b-range-input
									.b-range-input__label Стоимость недвижимости
									.b-range-input__text-field-wrap
										input(type="text" value="100").b-range-input__value.js-range-mortgage-price-val
									.b-range-input__slider.js-range-mortgage-price
								.row
									.col-lg-9
										.b-range-input
											.b-range-input__label Первоначальный взнос
											.b-range-input__text-field-wrap
												span.b-range-input__right-content.js-range-mortgage-rate
												input(type="text" value="10").b-range-input__value.js-range-mortgage-initial-fee-val
											.b-range-input__slider.js-range-mortgage-initial-fee
									.col-lg-3
										.b-range-input
											.b-range-input__label Срок
											.b-range-input__text-field-wrap
												input(type="text" value="").b-range-input__value.js-range-mortgage-term-val
											.b-range-input__slider.js-range-mortgage-term

								.b-form__suits
									.b-form__suits-logos
										img(src="assets/img/utils/logos.png" alt="alt")
									.b-form__suits-desc
										span.b-form__suits-title Вам подходит
										strong.strong 7 программ
										.b-form__suits-price от 40 000 руб./мес.
							.b-form__button
								button.button.button--xl.button--w100.js-send Подать заявку
	section.b-infrastructure
		h1.h1.b-heading Инфраструктура

		.b-infrastructure__body
			.b-infrastructure__address
				.b-infrastructure__address-title КВАРТАЛ 29
				.b-infrastructure__address-desc г. Мытищи, ул. Стрелковая, мкрн 29 <br/> +7 (495) 407-78-06
			.b-infrastructure__list
				.b-infrastructure-list
					.b-infrastructure-list__header
						.b-infrastructure-list__title Инфраструктура ЖК Квартал 29
						.b-infrastructure-list__sub-desc Медицинские учреждения
					.b-infrastructure-list__body
						table.b-infrastructure-list__list-distances
							tr
								td
									.b-infrastructure-list__distance 920 м
								td
									| Ветеринарная клиника

							tr
								td
									.b-infrastructure-list__distance 310 м
								td
									| Аптека
							tr
								td
									.b-infrastructure-list__distance 430 м
								td
									| Детская поликлиника № 3
							tr
								td
									.b-infrastructure-list__distance 200 м
								td
									| Поликлиника № 3

			.b-infrastructure__change
				ul.b-infrastructure-change.js-infrastructure-change-slider
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-1.is-active
							+icon('hospital-buildings', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-2
							+icon('gummy-bear', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-3
							+icon('food', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-4
							+icon('tree', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-5
							+icon('open-book', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-6
							+icon('coffe-cup', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-7
							+icon('bank-building', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-8
							+icon('eagle', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
					li.b-infrastructure-change__item
						a(href="#").b-infrastructure-change__link.b-infrastructure-change__link--st-9
							+icon('circus-tent', 'b-infrastructure-change__icon')
							span.b-infrastructure-change__title Медицинские учреждения
			.b-infrastructure__maps#infrastructure-map
	section.b-progress
		.container
			.b-heading
				.row.justify-content-between
					.col-sm-auto
						h1.h1.b-heading__title Ход строительства
					.col-sm-auto
						.b-date-settlement
							.b-date-settlement__icon
								+icon('fa-clock')
							.b-date-settlement__desc
								span.b-date-settlement__title Ближайшая дата заселения:
								span.b-date-settlement__date 24 июня 2019 года

			.b-progress__slider
				.o-slick.o-slick--gutter
					.o-slick__arrow.o-slick__arrow--prev
						+icon('arrow-left')
					.o-slick__arrow.o-slick__arrow--next
						+icon('arrow-right')
					.js-progress-slider
						.o-slick__item
							a(href="#").b-gallery-item
								span.b-gallery-item__date Апрель 2019
								.b-gallery-item__picture
									img(src="assets/img/progress/item-1.jpg" alt="alt")

								.b-gallery-item__body
									span.b-gallery-item__section Секции 2-4
									h3.h3 В процессе строительства

						.o-slick__item
							a(href="#").b-gallery-item
								span.b-gallery-item__date Апрель 2019
								.b-gallery-item__picture
									img(src="assets/img/progress/item-2.jpg" alt="alt")

								.b-gallery-item__body
									span.b-gallery-item__section Секции 5-8
									h3.h3 В процессе строительства

						.o-slick__item
							a(href="#").b-gallery-item
								span.b-gallery-item__date Март 2019
								.b-gallery-item__picture
									img(src="assets/img/progress/item-3.jpg" alt="alt")

								.b-gallery-item__body
									span.b-gallery-item__section Секции 2-4
									h3.h3 В процессе строительства

						.o-slick__item
							a(href="#").b-gallery-item
								span.b-gallery-item__date Март 2019
								.b-gallery-item__picture
									img(src="assets/img/progress/item-3.jpg" alt="alt")

								.b-gallery-item__body
									span.b-gallery-item__section Секции 2-4
									h3.h3 В процессе строительства
	section.b-online-camera
		.b-online-camera__container.container
			.b-online-camera__body(style="background-image: url(assets/img/section/item-4.jpg)")
				.b-online-camera__caption
					.b-online-camera__button
						a(href="#add-sources").b-action.js-modal-button
							.b-action__icon
								span.actions-sprite.camera
							span.b-action__title Онлайн камера
					.b-home-caption.b-home-caption--md
	section.b-news
		.b-vertical-title
			.b-vertical-title__border
			span.b-vertical-title__title Следите за нашими новостями

		.container
			.b-heading
				.row.justify-content-between.align-items-center
					.col-sm-auto
						h1.h1.b-heading__title.b-heading__title--mb-0 Новости
					.col-sm-auto.d-none.d-sm-block
						a(href="#").button.button--transparent.button--sm Все новости

			.b-news__slider
				.o-slick.o-slick--gutter
					.o-slick__arrow.o-slick__arrow--prev
						+icon('arrow-left')
					.o-slick__arrow.o-slick__arrow--next
						+icon('arrow-right')
					.js-news-slider
						.o-slick__item
							a(href="#").b-news-item
								.b-news-item__picture
									img(src="assets/img/utils/news-1.jpg" alt="alt")
								.b-news-item__body
									span.b-news-item__date 24 Апреля 2019
									h4.h4.b-news-item__caption Режим работы Офиса продаж в майские праздники

									p.b-news-item__text Уважаемые клиенты! Информируем вас о том, что в период майских праздников Офис продаж Уважаемые клиенты! Информируем вас о том, что в период майских

						.o-slick__item
							a(href="#").b-news-item
								.b-news-item__picture
									img(src="assets/img/utils/news-2.jpg" alt="alt")
								.b-news-item__body
									span.b-news-item__date 4 Апреля 2019
									h4.h4.b-news-item__caption Новости строительства корпуса 14 проекта «Квартал 29»

									p.b-news-item__text На строительной площадке I этапа корпуса №14 (секции 5-8) проекта «Квартал 29» в г. Мытищи...

						.o-slick__item
							a(href="#").b-news-item
								.b-news-item__picture
									img(src="assets/img/utils/news-2.jpg" alt="alt")
								.b-news-item__body
									span.b-news-item__date 4 Апреля 2019
									h4.h4.b-news-item__caption Новости строительства корпуса 14 проекта «Квартал 29»

									p.b-news-item__text На строительной площадке I этапа корпуса №14 (секции 5-8) проекта «Квартал 29» в г. Мытищи...

				.b-news__slider-buttons
					.b-news__slider-buttons-item.d-sm-none
						a(href="#").button.button--transparent.button--sm-w100 Все новости
					.b-news__slider-buttons-item
						a(href="#").button.button--sm-w100.button--sm ПОДПИСАТЬСЯ НА НОВОСТИ