footer.c-footer
	.container
		.c-footer__body.c-footer__body--start.c-footer__body--border-accent
			.c-footer__col.order-1.order-md-0
				span.c-footer__address
					| Altpush LP <br/>
					| Canada, Ontario, West Coast road 45 82 <br/>
					| +1 - 256 - 698 - 78 - 99 / support@altpush.com
				span.c-footer__privacy.c-footer__privacy--dark © 2019 Company LTD. All rights reserved.  Terms & Conditions | Privacy Policy

			.c-footer__social
				.b-social.b-social--row
					a(href="#").b-social__item
						.b-social__item-icon.b-social__item-icon--white
							+icon('fa-telegram')
					a(href="#").b-social__item
						.b-social__item-icon.b-social__item-icon--white
							+icon('fa-youtube')
					a(href="#").b-social__item
						.b-social__item-icon.b-social__item-icon--white
							+icon('fa-envelope')