footer.c-footer
	.container
		.c-footer__body
			span.c-footer__address
				| Altpush LP <br/>
				| Canada, Ontario, West Coast road 45 82 <br/>
				| +1 - 256 - 698 - 78 - 99 / support@altpush.com
			span.c-footer__privacy © 2019 Company LTD. All rights reserved.  Terms & Conditions | Privacy Policy
