.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-check-circle {
  font-size:(44/10)*1rem;
  width:(44/44)*1em;
}
.icon-envelope-open {
  font-size:(67/10)*1rem;
  width:(68/67)*1em;
}
.icon-fa-angle-down {
  font-size:(512/10)*1rem;
  width:(256/512)*1em;
}
.icon-fa-envelope {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-fa-telegram {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-fa-user {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-fa-youtube {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
