.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-arrow-left {
  font-size:(1000/10)*1rem;
  width:(1000/1000)*1em;
}
.icon-arrow-right {
  font-size:(1000/10)*1rem;
  width:(1000/1000)*1em;
}
.icon-bank-building {
  font-size:(47.001/10)*1rem;
  width:(47.001/47.001)*1em;
}
.icon-circus-tent {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-coffe-cup {
  font-size:(345.86/10)*1rem;
  width:(345.86/345.86)*1em;
}
.icon-decor {
  font-size:(454/10)*1rem;
  width:(346/454)*1em;
}
.icon-eagle {
  font-size:(37/10)*1rem;
  width:(34/37)*1em;
}
.icon-fa-angle-down {
  font-size:(512/10)*1rem;
  width:(320/512)*1em;
}
.icon-fa-check {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-fa-clock {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-fa-fb {
  font-size:(512/10)*1rem;
  width:(320/512)*1em;
}
.icon-fa-insta {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-fa-pause {
  font-size:(512/10)*1rem;
  width:(448/512)*1em;
}
.icon-fa-phone {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-fa-sync {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-fa-times {
  font-size:(512/10)*1rem;
  width:(320/512)*1em;
}
.icon-fa-vk {
  font-size:(512/10)*1rem;
  width:(576/512)*1em;
}
.icon-food {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-gummy-bear {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
.icon-hospital-buildings {
  font-size:(94.505/10)*1rem;
  width:(94.505/94.505)*1em;
}
.icon-mansion {
  font-size:(46/10)*1rem;
  width:(46/46)*1em;
}
.icon-open-book {
  font-size:(423.25/10)*1rem;
  width:(423.25/423.25)*1em;
}
.icon-tag {
  font-size:(1000/10)*1rem;
  width:(1000/1000)*1em;
}
.icon-tree {
  font-size:(512/10)*1rem;
  width:(512/512)*1em;
}
